In [9]:
import pandas as pd
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# define example
data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = array(data)
print(values)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)
# invert first example
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
print(inverted)

['cold' 'cold' 'warm' 'cold' 'hot' 'hot' 'warm' 'cold' 'warm' 'hot']
[0 0 2 0 1 1 2 0 2 1]
[[1. 0. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]
['cold']

d:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [66]:
data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
data1 = ['cold','shit','fuck','fuck']
vocabulary_one_hot = pd.get_dummies(data)
vocabulary_one_hot1 = pd.get_dummies(data1)

#vocabulary_one_hot, test=vocabulary_one_hot.align(vocabulary_one_hot1 ,join='right',axis=1)

In [73]:
vocabulary_one_hot
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
enc.fit(vocabulary_one_hot.values)

OneHotEncoder(categorical_features='all', dtype=<class 'numpy.float64'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [64]:
vocabulary_one_hot1

   cold  fuck  shit
0     1     0     0
1     0     0     1
2     0     1     0
3     0     1     0

In [65]:
a, b=vocabulary_one_hot.align(vocabulary_one_hot1 ,axis=1)

In [62]:
a

   cold  fuck  hot  shit  warm
0     1   NaN    0   NaN     0
1     1   NaN    0   NaN     0
2     0   NaN    0   NaN     1
3     1   NaN    0   NaN     0
4     0   NaN    1   NaN     0
5     0   NaN    1   NaN     0
6     0   NaN    0   NaN     1
7     1   NaN    0   NaN     0
8     0   NaN    0   NaN     1
9     0   NaN    1   NaN     0

In [63]:
import numpy as np

a=a.drop_duplicates(keep='first')
#a =a.reindex(range(a.shape[0]))
a

   cold  fuck  hot  shit  warm
0     1   NaN    0   NaN     0
2     0   NaN    0   NaN     1
4     0   NaN    1   NaN     0

   cold  fuck  hot  shit  warm
0   1.0   NaN  0.0   NaN   0.0
1   NaN   NaN  NaN   NaN   NaN
2   0.0   NaN  0.0   NaN   1.0

In [40]:
import numpy as np
np.argmax(b["cold"])
b=b.drop_duplicates()
b =b.reindex(range(b.shape[0]))

d:\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:56: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)

In [41]:
b

   cold  fuck  hot  shit  warm
0     1     0  NaN     0   NaN
1     0     0  NaN     1   NaN
2     0     1  NaN     0   NaN

In [81]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# define example
data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = array(data)
print(values)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)

print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)

print(onehot_encoded)
# invert first example
#inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
integer_encoded = label_encoder.fit_transform(['values'])
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)

onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)

['cold' 'cold' 'warm' 'cold' 'hot' 'hot' 'warm' 'cold' 'warm' 'hot']
[0 0 2 0 1 1 2 0 2 1]
[[1. 0. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]

AttributeError: 'numpy.ndarray' object has no attribute 'fit_transform'